html,
body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #0087ca, #fac86d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300;
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500;
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px #0087ca;
  background-image: linear-gradient(to right, #0087ca, #06c2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #0087ca;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #0087ca;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
}

.dropdown {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button[type="submit"] {
  display: block;
  margin: 15px auto 0;
  padding: 10px 20px;
  background-color: #0087ca;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #006a8e;
}

.start {
  display: block;
  margin: 15px auto 0;
  padding: 10px 20px;
  background-color: #0087ca;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
